
@import 'basscss.github.io/css/base.css';

.lh1 { line-height: 1 }

#carbonads {
  top: 0;
  bottom: auto;
  background-color: #fff;
  z-index: 4;
}

/*
#carbonads {
  font-size: 14px;
  line-height: 1.25;
  text-align: left;
  padding: 0;
}

#carbonads a,
#carbonads a:hover {
  text-decoration: none;
  color: inherit;
}

#carbonads span { display: block }

#carbonads > span::before,
#carbonads > span::after {
  content: '';
  display: table;
}

#carbonads > span::after { clear: both }

.carbon-img {
  float: left;
  margin-right: .5em;
}

.carbon-img > img { display: block }
.carbon-text { overflow: hidden }

.carbon-poweredby {
  float: left;
  margin-top: .25em;
  opacity: 0.5;
}

@media (min-width: 40em) {
  #carbonads {
    max-width: 320px;
  }
}
*/

